{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

<div class="container">
    <h1 class="title">Task List</h1>
    
    <div class="add-task-link">
        <a href="{% url 'add_task' %}" class="btn-add-task">Add New Task</a>
    </div>
    
    <ul class="task-list">
        {% for task in tasks %}
            <li class="task-item">
                <strong>{{ task.title }}</strong> - {{ task.description }}
                <a href="{% url 'delete_task' task.id %}" class="btn-delete">Delete</a>
            </li>
        {% endfor %}
    </ul>
</div>

<script src="{% static 'js/script.js' %}"></script>

</body>
</html>
